@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
  border: black;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-full {
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

@media only screen and (max-width: 770px) {
  .auth-container {
    min-width: 300px;
    width: 480px;
  }
}

@media only screen and (max-width: 500px) {
  .auth-container {
    width: 95%;
  }
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

@media only screen and (max-width: 770px) {
  .sign-in-container {
    width: 100%;
  }
}

.auth-container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

@media only screen and (max-width: 770px) {
  .sign-up-container {
    width: 100%;
  }
}

.auth-container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

@-webkit-keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

@media only screen and (max-width: 770px) {
  .overlay-container {
    display: none;
  }
}

.auth-container.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-gradient(linear, left top, right top, from(#ff4b2b), to(#ff416c));
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media screen and (max-width: 800px) {
  .overlay {
    background-color: beige;
  }
}

.auth-container.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.auth-container.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.auth-container.right-panel-active .overlay-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

nav {
  background: #fff;
  height: 80px;
  width: 100%;
  z-index: 800;
}

label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover {
  color: #905353;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.active {
  background: #ff416c;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

#avatarUser:hover .dropdown-content {
  display: block;
  width: 200px;
  margin-left: -160px;
}

#avatarUser:hover .dropbtn {
  background-color: #3e8e41;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  z-index: 3;
}

.crossbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  z-index: 3;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 50vh;
    background: #0a0a0a;
    opacity: 0.9;
    top: 0;
    margin-top: 60px;
    top: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: #fff;
  }
  a:hover,
  a.active {
    background: none;
    color: #e03c13;
  }
  #check:checked ~ ul {
    top: 0;
  }
  #check:checked ~ .checkbtn {
    display: none;
  }
  #check:checked ~ .crossbtn {
    display: block;
  }
}

.createblogcontainer {
  margin-top: 10px;
  padding-top: 10px;
  width: 70%;
  background-color: #fff;
  text-align: center;
  overflow: scroll;
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
  border-radius: 10px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 770px) {
  .createblogcontainer {
    width: 90%;
  }
}

@media only screen and (max-width: 440px) {
  .createblogcontainer {
    width: 99%;
  }
}

.createblogcontainer span {
  font-size: larger;
  font-weight: bolder;
  text-decoration: underline;
  color: #ff416c;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.createblogcontainer .createblogform {
  margin-top: 10px;
  overflow: scroll;
}

.createblogcontainer .createblogform .imageupload {
  cursor: pointer;
  width: 100%;
  height: 400px;
  background: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createblogcontainer .createblogform .imageupload span {
  border: none;
  background-color: #6262e0;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: normal;
}

.createblogcontainer .createblogform img {
  cursor: pointer;
  width: 100%;
  max-height: 400px;
}

.createblogcontainer .createblogform input {
  outline: none;
  font-size: 25px;
}

.createblogcontainer .createblogform select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  color: gray;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.createblogcontainer .createblogform textarea {
  background-color: #eee;
  border: none;
  letter-spacing: 2px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
}

.createblogcontainer .createblogform .err {
  letter-spacing: normal;
  color: red;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.createblogcontainer .createblogform button {
  margin-bottom: 20px;
}

.profilePageContainer {
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilePageContainer .profilePageInsideContainer {
  width: 100%;
  padding: 20px;
  background-color: white;
  color: white;
  min-height: 500px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}

.profilePageContainer .profilePageInsideContainer .profileInfoContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 10px;
  min-width: 250px;
}

.profilePageContainer .profilePageInsideContainer .profileInfoContainer img {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  border-radius: 10px;
}

@media only screen and (max-width: 770px) {
  .profilePageContainer .profilePageInsideContainer .profileInfoContainer img {
    width: 100%;
  }
}

.profilePageContainer .profilePageInsideContainer .userInformationContainer {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  border-radius: 0px 10px 10px 0px;
}

.profilePageContainer .profilePageInsideContainer .userInformationContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.profilePageContainer .profilePageInsideContainer .userInformationContainer form span {
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: black;
}

.profilePageContainer .profilePageInsideContainer .userInformationContainer form input {
  outline: none;
}

.profilePageContainer .profilePageInsideContainer .userInformationContainer form textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
}

@media only screen and (max-width: 770px) {
  .profilePageContainer .profilePageInsideContainer .userInformationContainer form button {
    width: 100%;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 770px) {
  .profilePageContainer .profilePageInsideContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .profilePageContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 440px) {
  .profilePageContainer {
    width: 98%;
  }
}

.homepagecontainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepagecontainer form {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
  max-height: 100px;
}

.homepagecontainer form select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px 14px;
  background-color: #eee;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .homepagecontainer form select {
    width: 100%;
    margin-top: 20px;
    max-height: 130px;
  }
}

.homepagecontainer form div {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepagecontainer form div input {
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  outline: none;
  padding: 12px 15px;
}

@media screen and (max-width: 800px) {
  .homepagecontainer form div input {
    width: 100%;
  }
}

.homepagecontainer form div button {
  color: black;
  background-color: none;
  border-radius: 10px;
  padding: 8px 14px;
  margin: 8px 10px;
  background-color: #7776da;
  border: #7776da;
}

@media screen and (max-width: 700px) {
  .homepagecontainer form div button {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .homepagecontainer form div {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .homepagecontainer form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.homepagecontainer .PostContainer {
  padding-top: 20px;
  width: 100%;
  height: 100vh;
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

.homepagecontainer .PostContainer .band {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  overflow-x: scroll;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepagecontainer .PostContainer .card {
  background: white;
  text-decoration: none;
  color: #444;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 380px;
  min-width: 280px;
  position: relative;
  top: 0;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.homepagecontainer .PostContainer .card:hover {
  top: -2px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.homepagecontainer .PostContainer .card article {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepagecontainer .PostContainer .card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.homepagecontainer .PostContainer .card p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.4;
}

.homepagecontainer .PostContainer .card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.homepagecontainer .PostContainer .card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);
}

@media (min-width: 60em) {
  .homepagecontainer .PostContainer .item-1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
  .homepagecontainer .PostContainer .item-1 h1 {
    font-size: 24px;
  }
}

.user-card-container {
  width: 100%;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: scroll;
}

.user-card-container .user-card {
  padding: 5px;
  width: 70%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid 0.5px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.user-card-container .user-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  letter-spacing: 0.7px;
  color: gray;
}

.user-card-container .user-card button {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.user-card-container .user-card .following {
  background-color: gray;
  color: black;
  border: none;
}

.user-card-container .user-card.first {
  margin-top: 130px;
}

.BlogDescriptionContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.BlogDescriptionContainer .MainBlogDisplayContainer {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 80%;
  height: 100vh;
  min-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .profileDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .profileDetails img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .profileDetails .nameAndDateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .profileDetails .nameAndDateContainer span {
  color: gray;
  font-weight: 600;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .blogDataAnalyticsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .blogDataAnalyticsContainer .likeCountContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .blogDataAnalyticsContainer .likeCountContainer span {
  color: gray;
  font-size: 15px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .blogDataAnalyticsContainer .likeCountContainer span.count {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .authorDetailContainer .blogDataAnalyticsContainer button {
  background-color: #ff416c;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer {
  padding-top: 20px;
  width: 100%;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer img {
  width: 100%;
  max-height: 400px;
  margin-bottom: 20px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .blogTitle {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  padding-top: 20px;
  font-size: 2rem;
  padding-bottom: 20px;
  color: #2e2c2c;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer pre {
  word-wrap: break-word;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .blogDesc {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  white-space: normal;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: -0.003em;
  color: #0f0d0d;
  margin-bottom: 120px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer {
  width: 100%;
  min-height: 20vh;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer span {
  font-size: 15px;
  color: gray;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e4e1e1;
  border-radius: 10px;
  gap: 5px;
  padding: 5px;
  overflow: scroll;
  margin-bottom: 140px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer .commentBox {
  margin-top: 20px;
  padding: 10px;
  border-radius: 0px;
  background-color: #fff7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer .commentBox .userInfo1Container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer .commentBox .userInfo1Container img {
  margin-bottom: 0px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer .commentBox .userInfo1Container .nameAndDateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer .commentBox .userInfo1Container .nameAndDateContainer span {
  font-size: 7px;
  color: #222;
  font-weight: 600;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer .commentBox .comment {
  padding-left: 10px;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer .commentBox .comment pre {
  white-space: pre-wrap;
  font-family: inherit;
  color: #866767;
}

@media only screen and (max-width: 1050px) {
  .BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentBoxContainer {
    margin-bottom: 40px;
  }
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentFormContainer {
  width: 100%;
  margin-top: 50px;
  background-color: inherit;
  padding-bottom: 20px;
  display: none;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentFormContainer form {
  width: 100%;
  background-color: inherit;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentFormContainer form textarea {
  width: 100%;
  border: none;
  outline: solid 1px #e90036;
}

.BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentFormContainer form button {
  width: 100%;
  margin-top: 30px;
}

@media only screen and (max-width: 1050px) {
  .BlogDescriptionContainer .MainBlogDisplayContainer .wholeblogcontainer .BlogDetailsContainer .commentsContainer .commentFormContainer {
    display: block;
  }
}

@media only screen and (max-width: 1050px) {
  .BlogDescriptionContainer .MainBlogDisplayContainer {
    min-width: 260px;
    width: 95%;
  }
}

.BlogDescriptionContainer .sideBarContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: solid 1px #a39e9e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
}

.BlogDescriptionContainer .sideBarContainer .authorProfileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.BlogDescriptionContainer .sideBarContainer .authorProfileContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.BlogDescriptionContainer .sideBarContainer .authorProfileContainer button {
  width: 100%;
  border-radius: 10px;
}

.BlogDescriptionContainer .sideBarContainer .commentFormContainer {
  width: 100%;
  margin-top: 50px;
  background-color: inherit;
  padding-bottom: 20px;
}

.BlogDescriptionContainer .sideBarContainer .commentFormContainer form {
  width: 100%;
  background-color: inherit;
}

.BlogDescriptionContainer .sideBarContainer .commentFormContainer form textarea {
  width: 100%;
  border: none;
  outline: solid 1px #e90036;
}

.BlogDescriptionContainer .sideBarContainer .commentFormContainer form button {
  width: 100%;
  margin-top: 30px;
}

@media only screen and (max-width: 1050px) {
  .BlogDescriptionContainer .sideBarContainer {
    position: absolute;
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .BlogDescriptionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: scroll;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=app.css.map */